@{
    ViewBag.Title = "Home Page";
}
<div id="root">

</div>

@section scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7KjWpgzZ_LudC8gcFlFylbOMePeE7VVs&libraries=places"></script>
    <script src="@Url.Content("~/public/bundle.js")"></script>

}